In [2]:
import pandas as pd
import numpy as np
import datetime
import time
import joblib
import os
#資料庫
from influxdb import InfluxDBClient
#載入模型
import joblib

In [16]:
#創建資料庫
client = InfluxDBClient('120.107.146.56', 8086, 'ncue01', 'Q!A@Z#WSX')
#client.create_database('Hour_Ahead_Pred')

# 目前有哪些資料庫名稱

In [3]:
client = InfluxDBClient('120.107.146.56', 8086, 'ncue01', 'Q!A@Z#WSX','Minute_Ahead_Pred')
# 目前有哪些資料庫名稱
client.get_list_database()

[{'name': '_internal'},
 {'name': 'ems_db'},
 {'name': 'MG1'},
 {'name': 'sensor_db'},
 {'name': 'dorm_db'},
 {'name': 'TPPF'},
 {'name': 'colife3'},
 {'name': 'v2g'},
 {'name': 'SolarBank'},
 {'name': 'Demand'},
 {'name': 'BESS'},
 {'name': 'Minute_Ahead_Pred'},
 {'name': 'Min_Ahead_Pred'},
 {'name': 'Hour_Ahead_Pred'},
 {'name': 'Day_Ahead_Pred'},
 {'name': 'Pred_power'},
 {'name': 'MG3'},
 {'name': '15_minute_prediction'}]

In [4]:
tables = client.query('show measurements;')
list(tables.get_points())

[]

# 資料庫目前有哪些資料表

In [5]:
result = client.query('SHOW MEASUREMENTS', database='15_minute_prediction')
measurements = result.get_points()
for measurement in measurements:
    print(measurement['name'])

汙水場

# 資料表資料

In [45]:
client = InfluxDBClient('120.107.146.56', 8086, 'ncue01', 'Q!A@Z#WSX','15_minute_prediction')
result = client.query('select * from "汙水場"')  
result = pd.DataFrame(list(result.get_points()))
result.head(150)
# print(list(result.get_points()))

                    time      Power           UpdateTime
0   2023-08-04T14:00:00Z   4.142928  2023-08-04 14:03:02
1   2023-08-04T14:15:00Z   1.371566  2023-08-04 14:03:02
2   2023-08-04T14:30:00Z   0.918998  2023-08-04 14:03:02
3   2023-08-04T14:45:00Z   5.318611  2023-08-04 14:03:02
4   2023-08-04T15:00:00Z  12.974091  2023-08-04 15:03:01
..                   ...        ...                  ...
95  2023-08-05T13:45:00Z   1.666089  2023-08-05 13:03:01
96  2023-08-05T14:00:00Z   8.430031  2023-08-05 14:03:01
97  2023-08-05T14:15:00Z   5.306454  2023-08-05 14:03:01
98  2023-08-05T14:30:00Z   9.755180  2023-08-05 14:03:01
99  2023-08-05T14:45:00Z   6.028753  2023-08-05 14:03:01

[100 rows x 3 columns]

# 刪除資料表

In [38]:
client = InfluxDBClient('120.107.146.56', 8086, 'ncue01', 'Q!A@Z#WSX')
client.drop_database('15_minute_prediction')